In [7]:
import pandas as ps
from sklearn. tree import DecisionTreeClassifier
from sklearn import tree



rail_data = ps.read_csv('data.csv')
dummie_time = ps.get_dummies(rail_data.time)
dummie_day = ps.get_dummies(rail_data.day)
dummie_gender = ps.get_dummies(rail_data.gender)
merged = ps.concat([rail_data,dummie_time,dummie_day,dummie_gender],axis = 1)
rail_data = merged.drop(['time','day','gender','PM','D7','G-M'],axis = 1)

x=rail_data.drop(columns=['accident_type'])
y=rail_data['accident_type']
model = DecisionTreeClassifier()
model.fit(x,y)

tree.export_graphviz(model, out_file='railway_safety.dot',feature_names=['age','AM','D1','D2','D3','D4','D5','D6','G-F'],class_names=sorted(y.unique()),label='all',rounded=True,filled=True)

In [6]:
rail_data

   accident_type  age  AM  D1  D2  D3  D4  D5  D6  G-F
0           T1-F   27   1   1   0   0   0   0   0    1
1           T1-F   56   1   1   0   0   0   0   0    0
2           T1-F   60   1   1   0   0   0   0   0    0
3           T1-F   16   1   1   0   0   0   0   0    0
4           T1-F   61   1   1   0   0   0   0   0    0
..           ...  ...  ..  ..  ..  ..  ..  ..  ..  ...
95          T2-S   55   0   0   0   0   0   0   0    0
96          T2-S   43   0   0   0   0   0   0   0    0
97          T2-S   17   0   0   0   0   0   0   0    1
98          T2-S   44   0   0   0   0   0   0   0    0
99          T2-S   43   0   0   0   0   0   0   0    0

[100 rows x 10 columns]